html, body {
  font-family: 'Lato', sans-serif; }

#hamburger {
  float: right;
  display: block;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  z-index: 2; }

#hamburger:focus {
  outline: none; }

#hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 2px;
  background-color: #020202; }

#hamburger span::before,
#hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #020202;
  content: ""; }

#hamburger span::before {
  top: -8px; }

#hamburger span::after {
  bottom: -8px; }

#hamburger span {
  transition: background 0s 0.4s; }

#hamburger span::before,
#hamburger span::after {
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0.4s, 0s; }

#hamburger span::before {
  transition-property: top, transform; }

#hamburger span::after {
  transition-property: bottom, transform; }

/* -- MENU OPEN -- */
#hamburger.is-active span {
  background: none; }

#hamburger.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  z-index: 10; }

#hamburger.is-active span::after {
  bottom: 0;
  transform: rotate(-225deg);
  z-index: 10; }

#hamburger.is-active span::before,
#hamburger.is-active span::after {
  background-color: #FDF9FD;
  transition-delay: 0s, 0.4s;
  z-index: 10; }

#nav {
  background-color: rgba(2, 2, 2, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1; }
  #nav .top-nav {
    padding-top: 150px; }
  #nav .nav-links {
    display: block;
    color: #FDF9FD;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    margin-top: 30px; }
  #nav .nav-links:hover {
    text-decoration: line-through;
    transition: text-decoration 0.4s ease; }

.hide {
  display: none; }

.show {
  display: block; }

.header-container .logo {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 10px; }

.header-container .hook-row {
  margin-top: 120px; }

.header-container .hook {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: -10px; }

.header-container .summary {
  color: #655D59;
  letter-spacing: 1px;
  margin-top: 10px; }

.what {
  z-index: 0; }

.about-title {
  font-family: 'Playfair Display', serif; }
