html, body {
  font-family: 'Lato', sans-serif; }

.header-container .logo {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 10px; }

.header-container .nav {
  padding-top: 30px;
  text-align: center; }

.header-container .nav-links {
  color: #020202;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid transparent;
  margin-left: 20px;
  margin-right: 20px; }

.header-container .nav-links:hover {
  border-bottom: 1px solid #020202;
  padding-bottom: 5px;
  transition: all 0.3s ease; }

.header-container .hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.header-container .hook-row {
  margin-top: 120px; }

.header-container .hook {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: -10px; }

.header-container .summary {
  color: #655D59;
  letter-spacing: 1px;
  margin-top: 10px; }

.about-title {
  font-family: 'Playfair Display', serif; }
