//-- NAVBUTTON SCSS 
.hamburger {
  float: right;
  display: block;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  z-index: 2;
}

.hamburger:focus {
  outline: none;
}

.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 2px;
  background-color: $black;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $black;
  content: "";
}

.hamburger span::before {
  top: -6px;
}

.hamburger span::after {
  bottom: -6px;
}

.hamburger span {
  transition: background 0s 0.4s;
}

.hamburger span::before,
.hamburger span::after {
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0.4s, 0s;
}

.hamburger span::before {
  transition-property: top, transform;
}

.hamburger span::after {
  transition-property: bottom, transform;
}

/* -- MENU OPEN -- */
.hamburger.is-active span {
  background: none;
}

.hamburger.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  z-index: 10;
}

.hamburger.is-active span::after {
  bottom: 0;
  transform: rotate(-225deg);
  z-index: 10;
}

.hamburger.is-active span::before,
.hamburger.is-active span::after {
  background-color: $white;
  transition-delay: 0s, 0.4s;
  z-index: 10;
}