//-- COLORS
// Solids
$red: #F35D66;
$lightRed: #f46770;
$orange: rgba(#fc7434, 0.8);
$solidOrange: #FC7434;
$lightOrange: #FA7F43;
$blue: #36B8D5;
$black: #020202;
$white: #FDF9FD;
$gray: #AFAFAF;
$lightGray: #FAFAFA;
$darkGray: #655D59;

//-- FONTS
$source: 'Source Sans Pro', sans-serif;
$robotoX: 'Roboto Condensed', sans-serif;
$overpass: 'Overpass Mono', sans-serif;

a {
  text-decoration: none;
}
