//-- GLOBAL VARIABLES
@import 'base';

// NAV
@import 'nav/navButton';
@import 'nav/nav';

@import 'fold/fold';

.hide {
  display: none;
}

.show {
  display: block;
}

.what {
  z-index: 0;
}

.about-title {
  font-family: 'Playfair Display', serif;
}