//-- GLOBAL VARIABLES
@import 'base';

// NAV
@import 'nav/nav';

//-- BEGIN CSS
html, body {
  font-family: 'Lato', sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fold-container {

  .logo {
    font: {
      family: 'Lato', sans-serif;
      size: $logo;
      weight: $chubby;
    }
    letter-spacing: $gap;
    margin-top: $ten;
  }

  .hook-row {
    margin-top: $hookMar;
  }

  .hook {
    font: {
      family: 'Playfair Display', serif;
      size: $hookSize;
      weight: $chubby;
    }
    margin-bottom: -10px;
  }

  .summary {
    color: $darkGray;
    letter-spacing: $one;
    margin-top: $ten;
  }
}

.what {
  z-index: 0;
}

.about-title {
  font-family: 'Playfair Display', serif;
}