//-- COLORS
// Solids
$red:       #F35D66;
$blue:      #36B8D5;
$black:     #020202;
$white:     #FDF9FD;
$gray:      #D6D0D2;
$lightGray: #F4F4F4;
$darkGray:  #655D59;

// Gradients

//-- FONTS
// Size
$hookSize:  70px;
$bigHeader: 45px;
$header:    36px;
$logo:      30px;
$paragraph: 16px;
$navLink:   10px;

// Weight
$thin:   300;
$normal: 400;
$chubby: 700;
$fat:    900;

// Spacing
$one:     1px;
$linkGap: 2px;
$gap:     3px;

//-- MARGINS
$five:    5px;
$ten:     10px;
$fifteen: 15px;
$twenty:  20px;
$thirty:  30px;
$forty:   40px;
$fifty:   50px;
$hookMar: 120px;

@mixin auto {
  margin: {
    right: auto;
    left: auto;
  }
}

//-- PADDING
$navPad: 30px;

//-- BEGIN CSS
html, body {
  font-family: 'Lato', sans-serif;
}

@import 'nav';

.header-container {

  .logo {
    font: {
      family: 'Lato', sans-serif;
      size: $logo;
      weight: $chubby;
    }
    letter-spacing: $gap;
    margin-top: $ten;
  }

  .nav {
    padding-top: $navPad;
    text-align: center;
  }

  .nav-links {
    color: $black;
    font: {
      size: $navLink;
      weight: $chubby;
    }
    letter-spacing: $linkGap;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid transparent;
    margin: {
      left: $twenty;
      right: $twenty;
    }
  }

  .nav-links:hover {
    border-bottom: 1px solid $black;
    padding-bottom: $five;
    transition: all 0.3s ease;
  }

  .hook-row {
    margin-top: $hookMar;
  }

  .hook {
    font: {
      family: 'Playfair Display', serif;
      size: $hookSize;
      weight: $chubby;
    }
    margin-bottom: -10px;
  }

  .summary {
    color: $darkGray;
    letter-spacing: $one;
    margin-top: $ten;
  }
}

.about-title {
  font-family: 'Playfair Display', serif;
}