// FOLD SCSS

.logo {
  font: {
    family: $lora;
    size: $logo;
    weight: $chubby;
  }
  letter-spacing: $one;
  margin-top: $logoMar;
}

.hook-row {
  text-align: center;
  margin-top: $hookMar;

  .hook {
    font: {
      family: $lora;
      size: 4.4em;
      weight: $chubby;
    }
  }

  .slash {
    font-size: $bigHeader;
    font-weight: $normal;
    margin: {
      top: -5px;
      bottom: 10px;
    }
  }
}

.occupation-row {
  text-align: center;

  .title {
    color: $darkGray;
    font-size: $jobFont;
    letter-spacing: $one;
    margin-bottom: 10px;
  }

  .ion-close-round {
    font-size: 12px;
  }
}

.scroll-row {
  font: {
    family: $lora;
    weight: $chubby;
  }
  letter-spacing: $one;
  text-align: center;
  margin-top: $hookMar;

  .scroll {
    color: $black;
    text-decoration: none;
  }
}
