doctype html
html(lang="en-us")
  head
    title HWNG
    meta(http-equiv="X-US-Compatible" content="IE=Edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    //- JQUERY
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    //- FOUNDATION
    script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    //-- GOOGLE ICONS
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //-- GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900|Lora:400,700|Playfair+Display:400,900,700' rel='stylesheet' type='text/css')
    //- CSS
    link(rel="stylesheet" href="public/css/default.css")
  body
    div.container.header-container
      div.row
        //- div.medium-6.columns
        //-   nav.nav
        //-     a(href="#" class="nav-links") ABOUT        
        //-     a(href="#" class="nav-links") PORTFOLIO
        //-     a(href="#" class="nav-links") RESUME
        //-     a(href="#" class="nav-links") CONTACT
        div.medium-2.medium-offset-10.columns
          div.nav-button
            button#hamburger #[span ]
      div.row.hook-row
        div.medium-10.columns
          h2.hook HELLO,
          h2.hook I'M JOSHUA.
          p.summary A UI/UX & Front End Developer based in California.
    div.container
      div.row
        div.medium-12.columns
          h3.about-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    script(src="public/js/main.js")

